.main-steam{  
    padding-top: 40px; 
    width: 100%; 
    background-size: cover;
    background-color: black  ;
    background-repeat: round no-repeat; 
    background-size: contain;
}
.header-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 78px;
    
}

 .sds{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 .btn-st{
   display: flex;
   flex-direction: column;
   gap: 50px;
    position: absolute;
    bottom: -240px;
    left: 50%;
    transform: translate(-50%, -50%);
    
 }
 .btn-h{
   margin: 0 auto;
 }

 .image-container {
   position: relative;
   /* display: inline-block; */
 }
 

 
 .gradient-overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 90%, black 100%);
   pointer-events: none; /* Чтобы градиент не мешал взаимодействию с изображением */
 }
 


 .steamerf{
   min-height: 640px;
    width: 100%; /* Ширина изображения не превышает ширину родителя */
    height: auto; /* Сохраняется пропорция изображения */
    display: block; /* Избавляемся от дополнительных отступов */
    max-height: 750px ;
 }
 .costs{
   position: relative;
   font-weight: 400;
 }
 .costone{    
   margin: 0 auto;
   z-index: 100;
   font-size: 64px;
   color: #B6B6B6;
   text-decoration: line-through;

 }
 .costtwo{
   position: relative;

   margin: 0 auto;
   margin-top: -15px;
   font-size: 96px;
   color: white;

 }
 .sale{
   position: relative;
    font-size: 32px;
    color: white;
    background-color: #FF3E3E;
    padding: 10px;
    border-radius: 999px;
    width: min-content;
    margin: 0 auto;
    margin-top: -20px;
   }

   .timer-wraper{
      color: white;
display: flex;
flex-direction: column;
gap: 30px;
   }
   .timer-act{
      font-size: 20px;
      font-weight: 400;
   }
   .timer {
      margin: 0 auto;
      color: white;
      display: flex;
      gap: 10px; /* Расстояние между блоками */
      text-align: center;
    }

    .timer-block {
      min-width: 108px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: #1A1720  ; /* Тёмный фон блока */
      padding: 20px;
      padding-top: 30px;
      /* border-radius: 8px; */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      border-left:  1px solid #B6B6B6 ;
      border-right: 1px solid #B6B6B6 ;
      
    }

    .timer-block .number {
      font-size: 36px;
      font-weight: bold;
    }

    .timer-block .label {
      font-size: 14px;
      color: #b0b0b0; /* Светло-серый для текста */
    }
    @media (max-width: 1440px){
       .steamerf{
          width: 1440px;
          height: auto;
          overflow: hidden;
       }

    }

 @media (max-width: 1200px){
   
 .gradient-overlay {
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 82%, black 100%);
 }

 }


 @media (max-width: 700px){
   
   .h-l img{
      width: 140px;
      height: auto;
   }
   .header-nav{
      gap: 40px;
   }
   .btn-h{
      min-width: auto;
   }
   .btn-st{
      bottom: -200px;
   }
.costone{
font-size: 32px;
}
.costtwo{
   font-size: 64px;
}
.sale{
   margin-top: -10px;
   font-size: 24px;
}
 }
 @media (max-width: 600px){
.main-steam{
   padding-top: 30px;
}


   
.gradient-overlay {
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 90%, black 100%);
 }

   .steamerf{
   width: 1100px;
   /* height: 900px; */
   height: auto;
   overflow: hidden;
}
   
 }

 @media (max-width: 480px){
   
   .header-nav{
      gap: 0;
   }
   .steamerf{
      pointer-events: none;
      width: 985px ;
      margin-top: -80px;
      margin-left: 50px;
      min-height: 682px;
   }

   .gradient-overlay {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 83%, black 100%);
    }

   .timer-act{
      font-size: 16px;
   }
   .btn-st{
      bottom: -160px;
   }
   .timer-wraper{
      gap: 20px;
   }
   .timer{
      gap: 8px;
   }
   .timer-block .label {
      font-size: 9px;
  }
  .timer-block .number {
   font-size: 26px;
}
.timer-block{
   min-width: 80px ;
   width: 83px;
}
 }
